<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение должности</title>
</head>
<body style="background:antiquewhite">
<div th:insert="hello"></div>
<br><br><br><br><br><br><br>
<table style="width:100%; height:100%;">
    <tr>
        <td style="text-align:center; vertical-align:top;">
            <form th:action="@{/post/{id}/edit(id=${post.id})}" method="post" th:object="${post}">
                <label style="color:#A6372B; font-size: 20px; font-family: 'Book Antiqua'"><strong>Наименование</strong></label>
                <input type="text" th:value="${post.getNames()}" style="border-radius: 7px; border-color: aliceblue; width: 250px; height:30px" th:field="*{names}" name="names">
                <br>
                <div style="color: floralwhite" th:if="${#fields.hasErrors('names')}" th:errors="*{names}"></div><br>
                <label style="color:#A6372B; font-size: 20px; font-family: 'Book Antiqua'"><strong>Заработная плата</strong></label>
                <input type="number" th:value="${post.getSalary()}" name="salary" style="border-radius: 7px; border-color: aliceblue; width: 150px; height:30px" th:field="*{salary}">
                <div style="color: floralwhite" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div><br>
                <br>
                <button style="background: #FFC0CB; border-color: aliceblue; border-radius: 30px; height: 30px; width: 100px; margin-bottom: 20px;" type="submit" class="btn btn-del"><em><strong>Изменить</strong></em></button>
            </form>
            <div th:each="el : ${post}">
                <form th:action="'/post/' + ${el.id} + '/del'" method="post">
                    <button style="background: #FFC0CB; border-color: aliceblue; border-radius: 30px; height: 30px; width: 100px; margin-bottom: 20px;" type="submit" class="btn btn-del"><em><strong>Удалить</strong></em></button>
                </form>
            </div>
        </td>
    </tr>
</table>
</body>
</html>