<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление услуги</title>
</head>
<body style="background:antiquewhite">
<div th:insert="hello"></div>
<br><br><br><br><br><br><br>
<table style="width:100%; height:100%;">
    <tr>
        <td style="text-align:center; vertical-align:top;">
            <form th:action="${'/services/add'}" method="post" th:object="${services}">
                <label style="color:#A6372B; font-size: 20px; font-family: 'Book Antiqua'"><strong>Наименование</strong></label>
                <select  name="name">
                    <div th:each="element : ${city_services}">
                        <option th:text="${element.name}"></option>
                    </div>
                </select><br>
                <label style="color:#A6372B; font-size: 20px; font-family: 'Book Antiqua'"><strong>Цена</strong></label>
                <input type="number" name="cent" style="border-radius: 7px; border-color: aliceblue; width: 150px; height:30px" th:field="*{cent}">
                <div style="color: floralwhite" th:if="${#fields.hasErrors('cent')}" th:errors="*{cent}"></div><br>
                <br>
                <button style="background: #FFC0CB; border-color: aliceblue; border-radius: 30px; height: 30px; width: 100px; margin-bottom: 20px;" type="submit" class="btn btn-del"><em><strong>Добавить</strong></em></button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>